@{
    Layout = "~/Views/Shared/_RequestBinLayout.cshtml";
}

@section ActionTitle
{
    Web API utlity application suite
}

@section breadcrumb
{
    
}

@section Action
{
    This application is a part of API utility application suites
    <h3>@ViewBag.Message</h3>
}




